html{
    line-height: 1.4;
    font-size: 13px;
}
/* 
########          ######  #### ######## ########
##               ##    ##  ##       ##  ##
##               ##        ##      ##   ##
######   #######  ######   ##     ##    ######
##                     ##  ##    ##     ##
##               ##    ##  ##   ##      ##
##                ######  #### ######## ######## */

/*задается размер текста html тэга в завивисомси от размера экрана*/
@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	font-family: "open sans", sans-serif, verdana;
}


.cover_container{
	background-image: url('../img/background/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	padding-top: 5vh;
}




/* 
######## #### ######## ##       ########
   ##     ##     ##    ##       ##
   ##     ##     ##    ##       ##
   ##     ##     ##    ##       ######
   ##     ##     ##    ##       ##
   ##     ##     ##    ##       ##
   ##    ####    ##    ######## ######## */

.title_logo{

	margin-left: 20%;
	margin-right: 20%;
	/* margin-top: 6vw; */
	background-image: url('../img/header/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 20vw;
}

.title{
	margin-left: 23%;
	margin-right: 20%;
	text-transform: uppercase;
	font-size: 6vw;
	text-align: center;
	font-weight: 700;
	margin-top: 2vw;

}


.title_text{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2vw;
	font-size: 4vh;
	text-align: center;
}
/* 
   ###    ########  ######## ####  ######  ##       ########
  ## ##   ##     ##    ##     ##  ##    ## ##       ##
 ##   ##  ##     ##    ##     ##  ##       ##       ##
##     ## ########     ##     ##  ##       ##       ######
######### ##   ##      ##     ##  ##       ##       ##
##     ## ##    ##     ##     ##  ##    ## ##       ##
##     ## ##     ##    ##    ####  ######  ######## ########
 */

.article_background{
	width: 100%;
	background-color: rgba(255, 255, 255, .7);
	margin-top: 3vw;
}

.article_container{
	margin-top: 2vw;


	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

	.article_img{
		min-width: 300px;
		min-height: 300px;
		background-image: url('../img/article/stack.png');
		background-position: right center;
		background-size: contain;
		background-repeat: no-repeat;	
	}

	.article_text{
		margin-top: 2vw;
		margin-bottom: 2vw;
		display: inline-block;
		font-size: 2.5vh;
		max-width: 400px;
		text-align: justify;
	}
		.article_text h1{
			font-size: 3vh;
			font-weight: 900;
			padding-left: 20px;
		}
		.article_text p{
			padding: 20px;
		}

/* 
########  ######## ##    ## ####  ######
##     ##    ##    ###   ## #### ##    ##
##     ##    ##    ####  ##  ##  ##
########     ##    ## ## ## ##    ######
##     ##    ##    ##  ####            ##
##     ##    ##    ##   ###      ##    ##
########     ##    ##    ##       ######
 */

.btn_container{
	margin-left: 0;
	margin-right: 0;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

	.btn{
		width: 260px;
		height: 60px;
		background: #FF4241;
		margin: 20px;
		border-radius: 5px;

	}
		.btn p{
			display: inline-block;
			width: 240px;
			height: 40px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 0;
			border: 1px solid #fff;
			border-radius: 5px;
			text-align: center;
			line-height: 40px;
			color: #fff;
			text-transform: uppercase;
		}


/* 
   ###    ########  ##     ##    ###    ##    ## ########    ###     ######   ########  ######
  ## ##   ##     ## ##     ##   ## ##   ###   ##    ##      ## ##   ##    ##  ##       ##    ##
 ##   ##  ##     ## ##     ##  ##   ##  ####  ##    ##     ##   ##  ##        ##       ##
##     ## ##     ## ##     ## ##     ## ## ## ##    ##    ##     ## ##   #### ######    ######
######### ##     ##  ##   ##  ######### ##  ####    ##    ######### ##    ##  ##             ##
##     ## ##     ##   ## ##   ##     ## ##   ###    ##    ##     ## ##    ##  ##       ##    ##
##     ## ########     ###    ##     ## ##    ##    ##    ##     ##  ######   ########  ###### */

.advantages_container{
	width: 100%;
	background-color: #FF4241;
	padding-top: 2vw;
	padding-bottom: 2vw;

}

	.advantages_wraper{
		margin-left: 25%;
		margin-right: 20%;
		margin-top: 5vw;
		margin-bottom: 5vw;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}

		.advantages_pict{
			margin-right: 50px;
			min-width: 100px;
			min-height: 100px;
			border: 1px solid white;
			border-radius: 5px;
			margin-top: 10px;
		}
		.advantages_text{

			max-width: 400px;
		}



/* 
##          ###    ########  ######## ##        ######
##         ## ##   ##     ## ##       ##       ##    ##
##        ##   ##  ##     ## ##       ##       ##
##       ##     ## ########  ######   ##        ######
##       ######### ##     ## ##       ##             ##
##       ##     ## ##     ## ##       ##       ##    ##
######## ##     ## ########  ######## ########  ######		 */



.labels{
	margin-left: 0;
	margin-right: 0;
	margin-top: 5vw;
	margin-bottom: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

	.label{
		margin: 10px 10px;
		width: 100px;
		height: 100px;
		border-radius: 5px;
		background-color: pink;

	}


/* 
 ######   #######  ##    ## ########    ###     ######  ########  ######
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    ##    ##
##       ##     ## ####  ##    ##     ##   ##  ##          ##    ##
##       ##     ## ## ## ##    ##    ##     ## ##          ##     ######
##       ##     ## ##  ####    ##    ######### ##          ##          ##
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    ##    ##
 ######   #######  ##    ##    ##    ##     ##  ######     ##     ######
*/

.contact_container{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5vw;
	margin-bottom: 5vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;

}

	.contact_logo{
		height: 100px;
		min-width: 300px;
		border: 1px solid pink;
	}

	.contact_text{
		height: 400px;
		width: 300px;
		padding-left: 10px;
	}

		.contact_text_title{
			font-size: 4vh;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 2vw;

		}


		.contact_text p{
			margin-top: 2vh;
			position: relative;
		}

		.telefon_pick:after{
			height: 20px;
			width: 30px;
			position: absolute;
			left: -32px;
			top: 3px;
			content: '';
			background-image: url('../img/contacts/phone_icon.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
		}



/* 
##     ## ######## ########  ####    ###        #######
###   ### ##       ##     ##  ##    ## ##      ##     ##
#### #### ##       ##     ##  ##   ##   ##     ##     ##
## ### ## ######   ##     ##  ##  ##     ##    ##     ##
##     ## ##       ##     ##  ##  #########    ##  ## ##
##     ## ##       ##     ##  ##  ##     ##    ##    ##
##     ## ######## ########  #### ##     ##     ##### ##
*/

   @media screen and (max-width: 750px) {

		.title_text{
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 1vw;
			font-size: 3vh;
			text-align: center;
		}


		.advantages_pict{
			margin: 0;
		}
		.advantages_text{
			text-align: justify;
		}
   }		